<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" [routerLink]="['/clientes/form']">
        Crear Cliente
      </button>
    </div>

    <div class="alert alert-info" *ngIf="clientes?.length == 0 || !clientes">
      No hay registro de clientes      
    </div>
    
    <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>EMAIL</th>
          <th>FECHA</th>
          <th>EDITAR</th>
          <th>ELIMINAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td><button type="button"
            class="btn btn-success"
            [routerLink]="['/clientes/ver', cliente.id]">
              {{ cliente.id }}
            </button>
          </td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt }}</td>
          <td>
            <button class="btn btn-primary"
              type="button" 
              name="button" 
              [routerLink]="['/clientes/form', cliente.id]">editar</button>
          </td>
          <td>
            <button class="btn btn-danger"
              type="button" 
              name="button" 
              (click)="delete(cliente)">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-paginator *ngIf="paginator" [paginator]="paginator"></app-paginator>

  </div>
</div>