<div class="card mx-4 my-4">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <button class="btn btn-success mr-2" type="button">Conectar</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-warning" type="button">Cerrar Chat</button>
      </li>
    </ul>
  </div>
  <div class="card-body" style="overflow-y: scroll; height: 360px;">

  </div>
  <div class="card-footer">
    <form class="form-inline" [formGroup]="chatForm">
      <div class="form-group mx-3">
        <input formControlName="texto"
          type="text" class="form-control" placeholder="Escribe un mensaje...">        
      </div>
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
  </div>
</div>